.game {
  text-align: center;
}

.ans {
  margin-top: 2%;
  height: 5vh;
  width: 17vw;
  color: black;
  border-radius: 3px;
  background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
  border: 1px solid black;
}

.userPanel {
  height: 30vh;
  width: 40vw;
  display: inline-flex;
}

.titleDiv {
  height: 7vh;
  font-size: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Kalam, cursive;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
}

.image {
  height: 58vh;
  border: 5px ridge black;
}

.correct {
  background: rgb(42,217,53);
  background: linear-gradient(0deg, rgba(42,217,53,1) 0%, rgba(255,255,255,1) 100%);
  font-weight: bold;
}

.incorrect {
  background: rgb(237,116,116);
  background: linear-gradient(0deg, rgba(237,116,116,1) 0%, rgba(255,255,255,1) 100%);
}

#menu {
  height: 3.5vh;
}

#continue {
  height: 100%;
}

#sub-panel-1 {
  text-align: left;
  margin-right: 5%;
}

#sub-panel-2 {
  text-align: left;
  width: 100%;
}

#response {
  height: 18vh;
  overflow-y: auto;
  border: 1px solid black;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 1vh;
}
